@font-face {
  font-family: "FiraSans Bold";
  src: url("../fonts/FiraSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "FiraSans Italic";
  src: url("../fonts/FiraSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "FiraSans Light";
  src: url("../fonts/FiraSans-Light.ttf") format("truetype");
}

body {
  font-family: "FiraSans Light", sans-serif;
  background-color: #e9e9e9;
}

h1 {
  font-family: "FiraSans Bold", sans-serif;
  font-size: 28px;
}

h2 {
  font-family: "FiraSans Bold", sans-serif;
  font-size: 18px;
}

.tema-gris {
  background-color: #757575;
}

.logo-personal {
  height: 30px;
}

.tema-gris-light {
  background-color: #c7c7c7;
}

#informacion-personal > .item-informacion > article > img {
  height: 180px;
  border-radius: 50%;
}

#informacion-personal {
  width: 100%;
}

.item-informacion {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-informacion article a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}

.span-fechas {
  float: inline-end;
  font-family: "FiraSans Italic";
}

.container > section {
  border-radius: 10px;
}

.img-portafolio {
  width: 450px;
}

@media (max-width: 768px) {
  .img-portafolio {
    width: 100px;
  }
}
